@model IEnumerable<RootedInLove.Models.Presentation>

<h2>@ViewBag.Title</h2>
<p>Click on an item below for more details</p>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4" style="height:200px;border:ridge">
            <br />
            <p>
                <br />
                
                <h3>@Html.ActionLink(item.Title, "Details", "Presentations", new { id = item.ShortName }, null)</h3>
                 by @Html.DisplayFor(modelItem => item.Presenter.FullName)
                <br />
                
            </p>

        </div>
    }
</div>