@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<div style="text-align:center">
    
    <img src="~/Images/Tree.jpg" class="img-responsive"style="margin-left: auto;
    margin-right: auto " />
    <address>
        1511 Jones Street
        <br />
        Joliet, IL 60435
        <br />
        1-(815)-741-5188
        <br />
        <a href="mailto:mail@rootedinlove.org">mail@rootedinlove.org</a>
    </address>
</div>